.gridBorder {
  stroke: gray;
  stroke-width: 2px;
  fill: url(#grid);
}

.gridInnerLines {
  stroke: gray;
  stroke-width: 0.5px;
  fill: none;
}

.controlCircle {
  fill: #f7f7f9;
  stroke: gray;
  stroke-width: 2px;
}

.controlCircle:hover {
  fill: gray;
}

.controlCircle:active {
  fill: gray;
}
